@keyframes triangle-left {
  0% {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }
  25% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
  }
  50% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%);
  }
  75% {
  }
  100% {
  }
}

@keyframes triangle-right {
  0% {
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  }
  25% {
    clip-path: polygon(50% 0%, 0% 50%, 50% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 50%, 0% 100%);
  }
  75% {
    clip-path: polygon();
  }
  100% {
  }
}

.animate-triangle-left {
  animation: triangle-left 4s infinite linear;
}

.animate-triangle-right {
  animation: triangle-right 4s infinite linear;
}
